.header h1 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 3rem;
    color: rgb(119, 141, 214);
}

.header {
    margin: 0;
    color: black;
    background-color: rgb(236, 233, 233);
    background-repeat: no-repeat;
    text-align: center;
    padding: 50px;
    padding-top: 100px;
}
  
  